* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn {
  border: 1px solid red;
  border-radius: 5px;
  font-size: 18px; }

.klops {
  padding: 0;
  border-right: 12px;
  font-emphasize-style: accent; }

.klops::-webkit-input-placeholder {
  color: rgba(255, 68, 93, 0.8); }

.klops:-ms-input-placeholder {
  color: rgba(255, 68, 93, 0.8); }

.klops::-ms-input-placeholder {
  color: rgba(255, 68, 93, 0.8); }

.klops::placeholder {
  color: rgba(255, 68, 93, 0.8); }

h1 {
  color: blue; }
